<mat-toolbar>

    <mat-toolbar-row class="shadow" style="background: #000e2b ;  height: 120px; text-align: center;color: snow">
        <img src="../../assets/pic/mainpage/icon-business.png" style="height: 64px;width: auto;">
        <h1 style=" color: snow;font-size: 30px; margin-left: 20px"><b>ระบบการจัดการอสังหาริมทรัพย์</b></h1>

        <span class="example-spacer"></span>
        <div style="margin-top: 50px;">
            <button mat-stroked-button (click)="onLogout()"
                style="background: #5c8b8d ; margin-left: 5px;">ออกจากระบบ</button>

        </div>




    </mat-toolbar-row>


    <mat-toolbar-row class="shadow" style="background: #013b63 ; text-align: center;color: snow">


        <button mat-button class="tool" [routerLink]="['/buyer/buyer/home']" routerLinkActive="active-head"
            style="margin-left: 10px; ">หน้าหลัก</button>

        <button mat-button class="tool" [matMenuTriggerFor]="belowMenu1">ขายอสังหาริมทรัพย์</button>
        <mat-menu #belowMenu1="matMenu">
            <button mat-menu-item style="width: 400px" [routerLink]="['/buyer/buyer/SHouse']"
                routerLinkActive="active-head">ขายบ้านเดี่ยว</button>
            <button mat-menu-item [routerLink]="['/buyer/buyer/STown']"
                routerLinkActive="active-head">ขายทาวน์เฮ้าส์</button>
            <button mat-menu-item [routerLink]="['/buyer/buyer/SApt']"
                routerLinkActive="active-head">ขายอพาร์ทเมนท์</button>
            <button mat-menu-item [routerLink]="['/buyer/buyer/SCommer']"
                routerLinkActive="active-head">ขายอาคารพาณิชย์</button>
            <button mat-menu-item [routerLink]="['/buyer/buyer/SCondo']"
                routerLinkActive="active-head">ขายคอนโดมิเนียม</button>
            <button mat-menu-item [routerLink]="['/buyer/buyer/SLand']"
                routerLinkActive="active-head">ขายที่ดิน</button>
        </mat-menu>

        <button mat-button class="tool" [matMenuTriggerFor]="belowMenu2">เช่าอสังหาริมทรัพย์</button>
        <mat-menu #belowMenu2="matMenu">
            <button mat-menu-item style="width: 400px" [routerLink]="['/buyer/buyer/LHouse']"
                routerLinkActive="active-head"> เช่าบ้านเดี่ยว</button>
            <button mat-menu-item [routerLink]="['/buyer/buyer/LTown']"
                routerLinkActive="active-head">เช่าทาวน์เฮ้าส์</button>
            <button mat-menu-item [routerLink]="['/buyer/buyer/LApt']"
                routerLinkActive="active-head">เช่าอพาร์ทเมนท์</button>
            <button mat-menu-item [routerLink]="['/buyer/buyer/LCommer']"
                routerLinkActive="active-head">เช่าอาคารพาณิชย์</button>
            <button mat-menu-item [routerLink]="['/buyer/buyer/LCondo']"
                routerLinkActive="active-head">เช่าคอนโดมิเนียม</button>
            <button mat-menu-item [routerLink]="['/buyer/buyer/LLand']"
                routerLinkActive="active-head">เช่าที่ดิน</button>
        </mat-menu>

        <button mat-button class="tool" [matMenuTriggerFor]="belowMenu3">ค้นหาอสังหาริมทรัพย์</button>
        <mat-menu #belowMenu3="matMenu">
            <button mat-menu-item style="width: 400px" [routerLink]="['/buyer/buyer/area']"
                routerLinkActive="active-head">ค้นหาจากขนาดพื้นที่</button>
            <button mat-menu-item [routerLink]="['/buyer/buyer/price']"
                routerLinkActive="active-head">ค้นหาจากราคาพื้นที่</button>
            <button mat-menu-item [routerLink]="['/buyer/buyer/map']"
                routerLinkActive="active-head">ค้นหาจากแผนที่</button>
            <button mat-menu-item [routerLink]="['/buyer/buyer/location']"
                routerLinkActive="active-head">ค้นหาจากทำเลที่ตั้ง</button>
        </mat-menu>


        <button mat-button class="tool" [routerLink]="['/buyer/buyer/article']"
            routerLinkActive="active-head">บทความโฆษณา</button>






    </mat-toolbar-row>

</mat-toolbar>


<div class="row" style="width: 100%; height: 100%;">
    <div class="col-md-2" style="background-color: #40686a ; padding-right: 0px; ">
        <div class="pic">
            <img *ngIf="pic64 == ''" src="../../assets/pic/sall/sall-avtar.png"
                style="height: 100px;width: auto;  display: block; margin-left: auto; margin-right: auto; ">
            <img *ngIf="pic64 != null" src="data:image/jpg;base64,{{pic64}}" class="circle" />
            <div class="user">
                <h5>ผู้ต้องการซื้อ</h5>
            </div>
            <div>
                <p class="name">{{user[0].fname}} &nbsp; {{user[0].lname}}</p>
            </div>

        </div>
        <mat-list>

            <mat-divider></mat-divider>
            <mat-list-item class="menu" [routerLink]="['/buyer/buyer/require']" routerLinkActive="active">
                <i class="material-icons">
                    pageview
                </i> &nbsp;
                กรอกความต้องการ
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="menu" [routerLink]="['/buyer/buyer/listrequire']" routerLinkActive="active">
                <i class="material-icons">
                    list_alt
                </i> &nbsp;
                รายการความต้องการ
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="menu" [routerLink]="['/buyer/buyer/matchas']" routerLinkActive="active">
                <i class="material-icons">
                    swap_horizontal_circle
                </i> &nbsp;
                อสังหาริมทรัพย์ที่ตรงกัน
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="menu" [routerLink]="['/buyer/buyer/favorite']" routerLinkActive="active">
                <i class="material-icons">
                    favorite
                </i> &nbsp;
                รายการที่ถูกใจ
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="menu" [routerLink]="['/buyer/buyer/chat']" routerLinkActive="active">
                <i class="material-icons">
                    chat
                </i> &nbsp;
                ติดต่อสนทนา
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="menu" [routerLink]="['/buyer/buyer/buyerhome']" routerLinkActive="active">
                <i class="material-icons">
                    portrait
                </i> &nbsp;
                ข้อมูลส่วนตัว
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="menu" [routerLink]="['/buyer/buyer/buy-test']" routerLinkActive="active">
                <i class="material-icons">
                    settings
                </i> &nbsp;
                ทดสอบ
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>

    </div>

    <div class="col-md-10">
        <router-outlet></router-outlet>
    </div>
</div>