.memu-left {
  width: 100%;
  color: snow;
}
.example-spacer {
  flex: 1 1 auto;
}

.circle {
  /* ชื่อคลาสต้องตรงกับ <img class="circle"... */
  height: 110px; /* ความสูงปรับให้เป็นออโต้ */
  width: 110px;
  border: 3px solid #fff; /* เส้นขอบขนาด 3px solid: เส้น #fff:โค้ดสีขาว */
  border-radius: 50%; /* ปรับเป็น 50% คือความโค้งของเส้นขอบ*/
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* เงาของรูป */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tool {
  width: 260px;
  margin-left: 5px;
  background: #4579a0;
}

.active-head {
  background-color: #d1dddb;
  color: #1d6a96;
}
