<div class="row" style="height: 100px;background-color: #014254">
    <h1 style="color: snow;font-size: 20px;margin-top: 35px;margin-left: 25px; "> จัดการรายการแนะนำ</h1>
</div>

<p>ค้นหารายการแนะนำ</p>
<mat-form-field appearance="outline" style="width: 50%;">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="ค้นหารายการ">
</mat-form-field>


<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource1">

        <ng-container matColumnDef="a">
            <th mat-header-cell *matHeaderCellDef> ลำดับที่ </th>
            <td mat-cell *matCellDef="let row"> {{row.recom_id}} </td>
        </ng-container>

        <ng-container matColumnDef="b">
            <th mat-header-cell *matHeaderCellDef> ชื่ออสังหาริมทรัพย์ </th>
            <td mat-cell *matCellDef="let row"> {{row.pro_head}} </td>
        </ng-container>

        <ng-container matColumnDef="c">
            <th mat-header-cell *matHeaderCellDef> เจ้าของอสังหาริมทรัพย์ </th>
            <td mat-cell *matCellDef="let row"> {{row.fname}} &nbsp; {{row.lname}}</td>
        </ng-container>

        <ng-container matColumnDef="d">
            <th mat-header-cell *matHeaderCellDef> เพิ่มรายการแนะนำ </th>
            <td mat-cell *matCellDef="let row">


                <button mat-raised-button [routerLink]="['/admin/admin/recommend' ,row.recom_id ]"
                    style="background: #1d6a96 ; color: snow; "><i class="material-icons">
                        add_circle
                    </i> เพิ่มรายการแนะนำ</button>

            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[ 10, 20 ,50 ]" showFirstLastButtons></mat-paginator>
</div>

<mat-card style="width: 99%; margin-left: auto; margin-right: auto; top: 10px; background-color: #BBD9EE">
    <div class="row">
        <mat-card class="product-card" *ngFor="let r of recom | filter:searchText "
            [routerLink]="['/admin/admin/prodetail' ,r.pro_id]">

            <div class="data sell-box">
                <div class="sell-corner sell-HD" *ngIf="r.pro_sell == 'ขาย'">{{r.pro_sell}}</div>
                <div class="sell-corner sell-SUB" *ngIf="r.pro_sell == 'เช่า'">{{r.pro_sell}}</div>
                <img class="image-size" style="cursor: pointer;" mat-card-image
                    src="data:image/jpg;base64,{{r.image1}}" />
            </div>
            <div class="listing-cost">฿ {{r.price | number : '1.2-2'}} บาท</div>
            <div class="detail">
                <mat-card-content>
                    <p class="head">
                        {{r.pro_head}}
                    </p>
                </mat-card-content>
                <!-- <mat-divider></mat-divider> -->
                <mat-card-subtitle class="date-post">
                    <div class="row">
                        <div class="col-md">
                            <i class="fa fa-pencil-square-o fa-lg"> {{r.pro_post}}</i>
                        </div>
                        <div class="col-md" style=" text-align: right;">
                            <i class="fa fa-eye fa-lg"> {{r.pro_views}}</i>
                        </div>
                    </div>
                </mat-card-subtitle>

                <div class="type">
                    <i class="material-icons" style="color: #7a96a2;">
                        style
                    </i> <span style="opacity: 0.85;  font-size: 14px;"> {{r.type_name}}</span>
                </div>

                <div class="loca">
                    <i class="material-icons" style="color: #abbf4e;">place</i>
                    <span style="opacity: 0.85;">{{r.loc_name}} {{r.provin_name}} </span>
                </div>
                <hr style="margin-top: 4px; margin-bottom: 2px;">
                <div class="row">
                    <div class="col-7">
                        <p class="p_icon1"><i class="fa fa-object-group" aria-hidden="true"></i>&nbsp;
                            {{r.pro_area | number : '1.2-2'}} ตร.ม.</p>
                        <p class="p_icon1"><i class="fa fa-bed" aria-hidden="true"></i>&nbsp; {{r.pro_bedroom}}
                            ห้องนอน</p>
                    </div>
                    <div class="col-5">
                        <p class="p_icon2"><i class="fa fa-bath" aria-hidden="true"></i>&nbsp; {{r.pro_toilet}}
                            ห้องน้ำ</p>
                        <p class="p_icon2"><i class="fa fa-building-o" aria-hidden="true"></i>&nbsp;
                            {{r.pro_floor}}
                            ชั้น</p>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</mat-card>