.example-spacer {
  flex: 1 1 auto;
}

.login {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-top: 50px;
  background: snow;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 170px;
  width: auto;
}

.emailcss {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  color: #1d6a96;
}

.btlogin {
  background: #126f80;
  color: snow;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 15px;
}

.logo-regis {
  display: block;
  margin-left: 20px;
  height: 50px;
  width: auto;
}

.register {
  width: 80%;
  display: block;
  margin-left: 20px;
  // margin-top: 2px;
  color: #126f80;
}

.example-container {
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 1px solid #1d6a96;
}

.text {
  font-size: 30px;
  text-transform: uppercase;
  background: linear-gradient(120deg, #456990 10%, #e5446d 50%, #ffe66d 80%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}



// ? select option status
.status {
  width: 80%;
  display: block;
  margin-left: 20px;
  // margin-top: 2px;
  color: #126f80;
}
.s-hidden {
    visibility:hidden;
    padding-right:10px;
}
.select {
    cursor:pointer;
    display:inline-block;
    position:relative;
    font:normal 11px/22px Arial, Sans-Serif;
    color:black;
    border:1px solid #ccc;
}
.styledSelect {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:white;
    padding:0 10px;
    font-weight:bold;
}
.styledSelect:after {
    content:"";
    width:0;
    height:0;
    border:5px solid transparent;
    border-color:black transparent transparent transparent;
    position:absolute;
    top:9px;
    right:6px;
}
.styledSelect:active, .styledSelect.active {
    background-color:#eee;
}
.options {
    display:none;
    position:absolute;
    top:100%;
    right:0;
    left:0;
    z-index:999;
    margin:0 0;
    padding:0 0;
    list-style:none;
    border:1px solid #ccc;
    background-color:white;
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
}
.options li {
    padding:0 6px;
    margin:0 0;
    padding:0 10px;
}
.options li:hover {
    background-color:#39f;
    color:white;
}
// ? End select option status
