.circle {
  /* ชื่อคลาสต้องตรงกับ <img class="circle"... */
  height: auto; /* ความสูงปรับให้เป็นออโต้ */
  width: 225px;
  border: 3px solid #fff; /* เส้นขอบขนาด 3px solid: เส้น #fff:โค้ดสีขาว */
  border-radius: 50%; /* ปรับเป็น 50% คือความโค้งของเส้นขอบ*/
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* เงาของรูป */
}
