<mat-card class="head">
    <mat-card-header>
        <mat-card-title>ใส่ขนาดพื้นที่เพื่อค้นหา</mat-card-title>
        <mat-card-subtitle>ใส่ขนาดพื้นที่ค้นหาอสังหาอสังหาริมทรัพย์ที่ต้องการได้</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="typeFormGroup">
            <div class="type-select">
            <label for="type_id">เลือกประเภทอสังหาริมทรัพย์</label>
            <select class="form-control" id="type_id" [(ngModel)]="Type_id" formControlName="type"  required>
                <option selected>เลือกประเภท...</option>
                <option [value]="row.type_id" *ngFor="let row of types">
                    {{row.type_name}}</option>

            </select>
        </div>

            <!-- <div class="row" style=" margin-top: 15px;">
                <div class="col-md-4">
                    <div class="label">
                        <mat-label>เลือกประเภทอสังหาริมทรัพย์</mat-label>
                    </div>
                    <div class="option">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-select [(ngModel)]="Type_id" formControlName="type" placeholder="เลือกประเภทอสังหาริมทรัพย์"
                                required>
                                <mat-option [value]="row.type_id" *ngFor="let row of types">
                                    {{row.type_name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div> -->

            <div class="row" style="margin-top: 5px;">
                <div class="input-price1">
                    <label for="price1">ขนาดพื้นที่ต่ำสุด :</label>
                    <input class="form-control" id="price1" type="number" formControlName="minValue"
                        [(ngModel)]="minValue" maxlength="8">
                </div>
                <p class="goto">ไปถึง</p>
                <div class="input-price2">
                    <label for="price1">ขนาดพื้นที่สูงสุด :</label>
                    <input class="form-control" type="number" formControlName="maxValue" [(ngModel)]="maxValue"
                        maxlength="8">
                </div>
                <p class="goto">หน่วยเป็นตารางเมตร</p>

            </div>

            <div class="custom-slider">
                <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
            </div>

        </form>
    </mat-card-content>
    <mat-card-actions style="text-align: center; margin-bottom: 10px;">
        <button mat-button class="submit" (click)="onCheck(minValue,maxValue,Type_id)">
            <i class="material-icons">
                search
            </i> &nbsp;
            ค้นหา</button>
    </mat-card-actions>
</mat-card>


<!-- todo FromLocat -->
<mat-card style="width: 98%; margin-left: auto; margin-right: auto; top: 10px; background-color: #BBD9EE"
    *ngIf="count_list != null">
    <mat-toolbar style="background-color: #4579a0;color: snow">รายการจากการค้นหา</mat-toolbar>
    <mat-chip-list>
        <mat-chip style=" margin-top: 10px; margin-left: 30px;">ผลการค้นหา {{count_list}} รายการ</mat-chip>
    </mat-chip-list>
    <div class="row">
        <mat-card class="product-card"
            *ngFor="let r of ProFromArea | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize"
            [routerLink]="[link ,r.pro_id]">

            <div class="data sell-box">
                <div class="sell-corner sell-HD" *ngIf="r.pro_sell == 'ขาย'">{{r.pro_sell}}</div>
                <div class="sell-corner sell-SUB" *ngIf="r.pro_sell == 'เช่า'">{{r.pro_sell}}</div>
                <img class="image-size" style="cursor: pointer;" mat-card-image
                    src="data:image/jpg;base64,{{r.image1}}" />

            </div>
            <div class="listing-cost">฿ {{r.price | number : '1.2-2'}} บาท</div>
            <div class="detail">
                <mat-card-content>
                    <p class="head">
                        {{r.pro_head}}
                    </p>
                </mat-card-content>
                <!-- <mat-divider></mat-divider> -->
                <mat-card-subtitle class="date-post">
                    <div class="row">
                        <div class="col-md">
                            <i class="fa fa-pencil-square-o fa-lg"> {{r.pro_post}}</i>

                        </div>
                        <div class="col-md" style=" text-align: right;">
                            <i class="fa fa-eye fa-lg"> {{r.pro_views}}</i>

                        </div>
                    </div>
                </mat-card-subtitle>

                <div class="type">
                    <i class="material-icons" style="color: #7a96a2;">
                        style
                    </i> <span style="opacity: 0.85;  font-size: 14px;"> {{r.type_name}}</span>
                </div>

                <div class="loca">

                    <i class="material-icons" style="color: #abbf4e;">place</i>
                    <span style="opacity: 0.85;">{{r.loc_name}} {{r.provin_name}} </span>

                </div>
                <hr style="margin-top: 4px; margin-bottom: 2px;">
                <div class="row">
                    <div class="col-7">
                        <p class="p_icon1"><i class="fa fa-object-group" aria-hidden="true"></i>&nbsp;
                            {{r.pro_area | number : '1.2-2'}} ตร.ม.</p>
                        <p class="p_icon1"><i class="fa fa-bed" aria-hidden="true"></i>&nbsp; {{r.pro_bedroom}}
                            ห้องนอน</p>
                    </div>
                    <div class="col-5">
                        <p class="p_icon2"><i class="fa fa-bath" aria-hidden="true"></i>&nbsp; {{r.pro_toilet}}
                            ห้องน้ำ</p>
                        <p class="p_icon2"><i class="fa fa-building-o" aria-hidden="true"></i>&nbsp; {{r.pro_floor}}
                            ชั้น</p>
                    </div>
                </div>

            </div>
        </mat-card>

    </div>
    <ngb-pagination *ngIf="ProFromArea.length != 0" [(page)]="page" [pageSize]="pageSize"
        [collectionSize]="ProFromArea.length" [maxSize]="5" [rotate]="true" [ellipses]="false"></ngb-pagination>
</mat-card>

<ng-template #error let-modal>
    <div class="alert alert-warning" role="alert" style="margin-bottom: 0px;">
        <i class="material-icons" style="color: LightCoral;">
            highlight_off
        </i> &nbsp;กรุณากรอกข้อมูลให้ถูกต้อง
    </div>
</ng-template>