agm-map {
  height: 500px;
}

.btsub {
  margin-left: 30px;
  background-color: #1d6a96;
  color: snow;
}

.mark {
  color: #1d6a96;
  background-color: #1d6a96;
}


.image-size{
  width: 300px;
  height: 225px;
  cursor: pointer;
}

