<div class="row" style="height: 100px;background-color: #014254">
    <h1 style="color: snow;font-size: 20px;margin-top: 35px;margin-left: 25px; "> ค้นหาอสังหาริมทรัพย์จากแผนที่</h1>


</div>



<!-- <div *ngIf="lat && lng"> -->
<div>
    <mat-form-field style="width: 20%; margin-left: 20px  ;">
        <mat-label>เลือกประเภทอสังหาริมทรัพย์</mat-label>
        <mat-select [(ngModel)]="type_id" FormControl="type_id" (ngModelChange)="onGetHouse($event)">
            <mat-option (click)="getMappro()">เลือกทั้งหมด</mat-option>
            <mat-option value="1">บ้านเดี่ยว</mat-option>
            <mat-option value="2">ทาวน์เฮาส์</mat-option>
            <mat-option value="3">อพาร์ทเมนท์</mat-option>
            <mat-option value="4">อาคารพาณิชย์</mat-option>
            <mat-option value="5">คอนโดมิเนียม</mat-option>
            <mat-option value="6">ที่ดิน</mat-option>
        </mat-select>
    </mat-form-field>

    <agm-map [latitude]="lat2" [longitude]="lng2">
        <agm-marker-cluster
            imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
            <!-- หน้าเริ่ม -->
            <agm-marker *ngFor="let m of markers;" [latitude]="m.latitude" [longitude]="m.longtitude">
                <!-- มาค์ก -->

                <agm-info-window>
                    <h5><strong>{{m.type_name}} </strong></h5>
                    <p>{{m.pro_head}}</p>
                    <p>{{m.price | number : '1.2-2'}} บาท</p>
                    <p>{{m.pro_area | number : '1.2-2'}} ตร.ม.</p>

                    <button class="btn btn-primary btn-sm" [routerLink]="[link ,m.pro_id]">ดูรายละเอียด</button>


                </agm-info-window>

            </agm-marker>
        </agm-marker-cluster>

    </agm-map>

</div>