.select {
  white-space: nowrap;
  margin-left: 10px;
  width: 500px;
  margin-top: 15px;
}

.range {
  width: 500px;
  margin-left: 10px;
  margin-top: 15px;
}

.price {
  width: 500px;
  margin-left: 10px;
  margin-top: 15px;
}

.bt-submit {
  color: snow;
  background-color: #1d6a96;
  left: 150px;
  margin-top: 30px;
}
mat-slider {
  width: 500px;
}
