




<div class="row" style="height: 100px;background-color: #014254;">
    <h1 style="color: snow;font-size: 20px;margin-top: 35px;margin-left: 25px; ">
        ความต้องการอสังหาริมทรัพย์ที่ต้องการซื้อ
    </h1>
</div>

<mat-card style="width: 97%; margin-left: auto; margin-right: auto; top: 10px;background-color: #BBD9EE">

    <form [formGroup]="addReq">

        <div class="select">
            <label for="select1">อสังหาริมทรัพย์ที่ต้องการ</label>
            <select [(ngModel)]="Type_id" formControlName="Type_id" class="form-control" id="select1">
                <option value="">เลือกรายการอสังหาริมทรัพย์</option>
                <option [value]="row.type_id" *ngFor="let row of types">{{row.type_name}}</option>
            </select>
        </div>

        <div class="select">
            <label for="select2">ภูมิภาค</label>
            <select [(ngModel)]="Loc_zone" (click)="onLocation(Loc_zone)" formControlName="Loc_zone"
                class="form-control" id="select2">
                <option>เลือกรายการภูมิภาค</option>
                <option [value]="z.loc_zone" *ngFor="let z of zones">{{z.zone_name}}</option>
            </select>
        </div>


        <div class="select">
            <label for="select3">จังหวัด</label>
            <select [(ngModel)]="Location_id" formControlName="Location_id" class="form-control" id="select3">
                <option value="">เลือกรายการจังหวัด</option>
                <option [value]="p.location_id" *ngFor="let p of provin">{{p.loc_name}}</option>
            </select>
        </div>




        <div class="custom-slider">
            <label for="price">ราคาความต้องการ</label>
            <ng5-slider [(value)]="Price_min" [(highValue)]="Price_max" [options]="options" id="price"></ng5-slider>
        </div>

        <div class="custom-slider">
            <label for="area">ขนาดพื้นที่ความต้องการ</label>
            <ng5-slider [(value)]="Area_min" [(highValue)]="Area_max" [options]="options2" id="area"></ng5-slider>
        </div>




        <button mat-button class="bt-submit" (click)="openModalAddreq(Addrequire)">ยืนยันความต้องการ</button>

    </form>
</mat-card>


<ng-template #Addrequire let-modal>
    <div class="modal-header">
        <h4 class="modal-title">สร้างความต้องการ</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <p>ประเภทอสังหาริมทรัพย์ : {{Type_id}} {{type_name}} </p>
        <p>ภูมิภาค : {{Loc_zone}} </p>
        <p>จังหวัด : {{Location_id}}</p>
        <p>ขนาดพื้นที่ต่ำสุด : {{Area_min}} ตารางเมตร</p>
        <p>ขนาดพื้นที่สูงสุด : {{Area_max}} ตารางเมตร</p>
        <p>ราคาของพื้นที่ต่ำสุด : {{Price_min}} บาท</p>
        <p>ราคาของพื้นที่สูงสุด : {{Price_max}} บาท</p>
    </div>
    <div class="modal-footer">
        <button mat-raised-button (click)="modal.close('Close click')">ยกเลิก</button>
        <button mat-raised-button (click)="onAddReq()" style="background-color: #1d6a96;color: snow">ตกลง</button>
    </div>
</ng-template>

<ng-template #success let-modal>
    <div class="alert alert-success" role="alert" style="margin-bottom: 0px;">
        ความต้องการอสังหาริมทรัพย์ที่ต้องการซื้อ " สำเร็จ "
    </div>
</ng-template>