<div class="row" style="height: 100px;background-color: #014254;">
    <h1 style="color: snow;font-size: 20px;margin-top: 35px;margin-left: 25px; ">
        ความต้องการอสังหาริมทรัพย์ที่ต้องการซื้อ
    </h1>
</div>

<mat-card style="width: 97%; margin-left: auto; margin-right: auto; top: 10px; background: #BBD9EE">

    <form [formGroup]="addReq">



        <div class="select">
            <div class="label">
                <mat-label>อสังหาริมทรัพย์ที่ต้องการ</mat-label>
            </div>
            <div class="option">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-select [(ngModel)]="Type_id" formControlName="Type_id" placeholder="ประเภทอสังหาริมทรัพย์"
                        required>
                        <mat-option [value]="row.type_id" *ngFor="let row of types">
                            {{row.type_name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="select">
            <div class="label">
                <mat-label>ภูมิภาค</mat-label>
            </div>
            <div class="option">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-select [(ngModel)]="zone_id" formControlName="Zone" placeholder="เลือกภูมิภาค"
                        (ngModelChange)="onProvince($event)" required>
                        <mat-option [value]="z.zone_id" *ngFor="let z of zones">
                            {{z.zone_name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="select">
            <div class="label">
                <mat-label>จังหวัด</mat-label>
            </div>
            <div class="option">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-select [(ngModel)]="province_id" formControlName="Province_id" placeholder="เลือกจังหวัด"
                        (ngModelChange)="onLocation($event)" required>
                        <mat-option [value]="p.province_id" *ngFor="let p of provins">{{p.provin_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="select">
            <div class="label">
                <mat-label>เขต/อำเภอ</mat-label>
            </div>
            <div class="option">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-select [(ngModel)]="location_id" formControlName="Location_id" placeholder="เลือกจังหวัด"
                        required>
                        <mat-option [value]="dis.location_id" *ngFor="let dis of district">{{dis.loc_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>






        <div class="custom-slider">
            <label for="price">ราคาความต้องการ</label>
            <ng5-slider [(value)]="Price_min" [(highValue)]="Price_max" [options]="options" id="price"></ng5-slider>
        </div>

        <div class="custom-slider">
            <label for="area">ขนาดพื้นที่ความต้องการ</label>
            <ng5-slider [(value)]="Area_min" [(highValue)]="Area_max" [options]="options2" id="area"></ng5-slider>
        </div>




        <button mat-button class="bt-submit" (click)="openModalAddreq(Addrequire)">ยืนยันความต้องการ</button>

    </form>
</mat-card>


<ng-template #Addrequire let-modal>
    <div class="modal-header">
        <h4 class="modal-title">สร้างความต้องการ</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <p>ประเภทอสังหาริมทรัพย์ : {{Type_id}} {{a}} </p>
        <p>ภูมิภาค : {{zone_id}} </p>
        <p>จังหวัด : {{province_id}}</p>
        <p>เขต/อำเภอ : {{location_id.loc_name}}</p>
        <p>ขนาดพื้นที่ต่ำสุด : {{Area_min}} ตารางเมตร</p>
        <p>ขนาดพื้นที่สูงสุด : {{Area_max}} ตารางเมตร</p>
        <p>ราคาของพื้นที่ต่ำสุด : {{Price_min}} บาท</p>
        <p>ราคาของพื้นที่สูงสุด : {{Price_max}} บาท</p>
    </div>
    <div class="modal-footer">
        <button mat-raised-button (click)="modal.close('Close click')">ยกเลิก</button>
        <button mat-raised-button (click)="onAddReq()" style="background-color: #1d6a96;color: snow">ตกลง</button>
    </div>
</ng-template>

<ng-template #success let-modal>
    <div class="alert alert-success" role="alert" style="margin-bottom: 0px;">
        ความต้องการอสังหาริมทรัพย์ที่ต้องการซื้อ " สำเร็จ "
    </div>
</ng-template>