.select {
  white-space: nowrap;
  margin-left: 10px;
  width: 500px;
  margin-top: 15px;
}

.range {
  width: 500px;
  margin-left: 10px;
  margin-top: 15px;
}

.price {
  width: 500px;
  margin-left: 10px;
  margin-top: 15px;
}

.bt-submit {
  color: snow;
  background-color: #1d6a96;
  left: 150px;
  margin-top: 30px;
}


// slider
// We need to use ::ng-deep to overcome view encapsulation
::ng-deep {
  .custom-slider .ng5-slider .ng5-slider-bar {
    background: #ffe4d1;
    height: 2px;
  }
  .custom-slider .ng5-slider .ng5-slider-selection {
    background: orange;
  }

  .custom-slider .ng5-slider .ng5-slider-pointer {
    width: 9px;
    height: 16px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .custom-slider .ng5-slider .ng5-slider-pointer:after {
    display: none;
  }

  .custom-slider .ng5-slider .ng5-slider-bubble {
    bottom: 14px;
  }

  .custom-slider .ng5-slider .ng5-slider-limit {
    font-weight: bold;
    color: orange;
  }

  .custom-slider .ng5-slider .ng5-slider-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #ffe4d1;
    top: -1px;
  }

  .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
    background: orange;
  }

  .custom-slider{
    width:70%;
    margin-top: 20px;
    margin-left: 10px;
  }
  
}
