<div class="row" style="height: 100px;background-color: #014254">
    <h1 style="color: snow;font-size: 20px;margin-top: 35px;margin-left: 50px; "> ข้อมูลบทความ</h1>
</div>

<form action="">

    <div class="container">

        <h3 style="margin-top: 20px;"> {{articl_head}}</h3>
        <div class="row">

            <p style="font-size: 14px; margin-left: 30px;">
                <i class="material-icons" style="font-size: 18px;">
                    loyalty
                </i>
                {{art_type}}
            </p>
            <p style="font-size: 14px;  margin-left: 10px;">
                <i class="material-icons" style="font-size: 18px;">
                    query_builder
                </i>
                {{art_date}}
            </p>
            <p style="font-size: 14px; margin-left: 10px;">
                <i class="material-icons" style="font-size: 18px;">
                    remove_red_eye
                </i>
                ผู้เข้าชม {{art_view}} ครั้ง
            </p>

        </div>

        <div class="image">
            <img mat-card-image src="data:image/jpg;base64,{{art_pic1}}" style="width: 830px;height: 433px;" />
        </div>

        <div style="width: 80%; margin-left: 50px;margin-top: 20px;">
            <pre>{{art_detail1}}</pre>



        </div>

        <div class="image">
            <img mat-card-image src="data:image/jpg;base64,{{art_pic2}}" style="width: 830px;height: 433px;" />
        </div>

        <div style="width: 80%;margin-left: 50px;margin-top: 20px;">
            <pre>{{art_detail2}}</pre>
        </div>




        <div class="image">
            <img mat-card-image src="data:image/jpg;base64,{{art_pic3}}" style="width: 830px;height: 433px;" />
        </div>


    </div>


</form>