<div class="container">
    <p>Your IP Address : {{ipAddress}}</p>
</div>

<p>{{pro_id}}</p>
<p>{{pro_head}}</p>


<div class="modal-body">

    <!-- single -->
    <div class="" style="margin-top: 10px; margin-bottom: 10px;">

        <img [src]="url" style="width: 188px; height: 281px;">

    </div>
    <div>
        <input type='file' accept=" image/* " (change)="onSelectFile($event)">
    </div>

    <button mat-raised-button (click)="onSubmit()">ส่ง</button>
</div>





<div class="footer">
    <hr>
    <div class="col-md" style="margin-left: 20px;">
        <p><u>คำอธิบาย</u> : การส่งรายการแนะนำเป็นการส่งรายการอสังหาริมทรัพย์ของคุณไปแสดงในหน้าแรกของเว็บไซต์</p>
        <p>มีค่าบริการการแสดงรายการแนะนำ 1000 บาท จะแสดงในหน้ารายการแนะนำ 30 วัน</p>
        <br>
        <p><u>หมายเหตุ</u> : ตัวอย่างใบชำระการจ่ายเงิน</p>
        <img src="../../../../assets/pic/slip_exam.jpg" style="box-shadow: 0 0 0px 1px black;">
    </div>

</div>




<!-- modal -->
<ng-template #error let-modal>
    <div class="alert alert-warning" role="alert" style="margin-bottom: 0px;">
        <i class="material-icons" style="color: LightCoral;">
            highlight_off
        </i> &nbsp;กรุณากรอกข้อมูลให้ถูกต้อง
    </div>
</ng-template>

<ng-template #success let-modal>
    <div class="alert alert-success" role="alert" style="margin-bottom: 0px;">
        <i class="material-icons" style="color: forestgreen">
            offline_pin
        </i> &nbsp;ส่งข้อมูลสำเร็จ
    </div>
</ng-template>