<div class="row" style="height: 100px;background-color: #014254">
    <h1 style="color: snow;font-size: 20px;margin-top: 35px;margin-left: 25px; "> ติดต่อสนทนา</h1>
</div>

<div class="row" style="height: 100%">
    <div class="col-md-4" style="background-color: #58b8cb; ">
        <mat-card *ngFor="let m of members">
            <button mat-stroked-button color="primary"
                [routerLink]="['/admin/admin/chat/chattext' ,m.descination]">{{m.descination}}</button>

        </mat-card>
    </div>
    <div class="col-md" style="background-color: #d1ddd8 ;">
        <router-outlet></router-outlet>
    </div>
</div>