<div class="row" style="height: 100px;background-color: #014254">
    <h1 style="color: snow;font-size: 20px;margin-top: 35px;margin-left: 25px; "> ค้นหาอสังหาริมทรัพย์ทำเลที่ตั้ง</h1>
</div>



<form [formGroup]="loc_search">


    <div class="row" style=" margin-top: 15px;">
        <div class="col-md-4">
            <div class="label">
                <mat-label>ภูมิภาค</mat-label>
            </div>
            <div class="option">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-select [(ngModel)]="selectedValue" formControlName="Zone" placeholder="เลือกภูมิภาค" (ngModelChange)="onLocation($event)">
                        <mat-option [value]="z.loc_zone" *ngFor="let z of zones" >
                            {{z.zone_name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-4">
            <div class="label">
                <mat-label>จังหวัด</mat-label>
            </div>
            <div class="option">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-select [(ngModel)]="Location_id" formControlName="Location_id" placeholder="เลือกจังหวัด">
                        <mat-option [value]="p.location_id" *ngFor="let p of provins">{{p.loc_name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="col-md-4">

            <button mat-button (click)="search(selectedValue , Location_id)" class="btseach">ค้นหา</button>
        </div>
    </div>
</form>

<!-- รายการอสังหา -->
<mat-card style="width: 1200px; margin-left: auto; margin-right: auto; top: 30px;background-color: #BBD9EE">
    <mat-toolbar style="background-color: #4579a0;color: snow">รายการอสังหาริมทรัพย์</mat-toolbar>
    <div class="row">
        <mat-card class="product-card" *ngFor="let p of products">

            <div class="image">
                <img style="cursor: pointer;" [routerLink]="['/mainpage/mainpage/property' ,p.pro_id]" mat-card-image
                    src="data:image/jpg;base64,{{p.image1}}" />
            </div>
            <div class="detail">
                <mat-card-content>
                    <p class="head" [routerLink]="['/mainpage/mainpage/property' ,p.pro_id]">
                        {{p.pro_head}}
                    </p>
                </mat-card-content>
                <mat-card-subtitle style="margin-bottom: 2px;">{{p.zone_name}} {{p.loc_name}}</mat-card-subtitle>
                <mat-chip-list>
                    <mat-chip *ngIf="p.pro_sell == 'เช่า'" style="background-color: #73B66B">{{p.pro_sell}}</mat-chip>
                    <mat-chip *ngIf="p.pro_sell == 'ขาย'" style="background-color: #FFCB18">{{p.pro_sell}}</mat-chip>
                    <mat-chip style="background-color: #29A2C6">{{p.type_name}}</mat-chip>
                </mat-chip-list>

                <mat-card-actions style="font-size: small">
                    <div class="row">
                        <div class="col-6">
                            <p class="p_icon1"><i class="fa fa-object-group" aria-hidden="true"></i>&nbsp;
                                {{p.pro_area}} ตร.ม.</p>
                            <p class="p_icon1"><i class="fa fa-bed" aria-hidden="true"></i>&nbsp; {{p.pro_bedroom}}
                                ห้องนอน</p>
                        </div>
                        <div class="col-6">
                            <p class="p_icon2"><i class="fa fa-bath" aria-hidden="true"></i>&nbsp; {{p.pro_toilet}}
                                ห้องน้ำ</p>
                            <p class="p_icon2"><i class="fa fa-building-o" aria-hidden="true"></i>&nbsp; {{p.pro_floor}}
                                ชั้น</p>
                        </div>
                    </div>

                    <mat-card-subtitle>
                        <p style="margin-bottom: 2px;"><i class="fa fa-pencil-square-o"
                                aria-hidden="true"></i>{{p.pro_post | date : 'fullDate'  }}</p>
                        <p style="margin-bottom: 5px;"><i class="fa fa-eye" aria-hidden="true"></i> เข้าชม
                            {{p.pro_views}} ครั้ง</p>
                    </mat-card-subtitle>

                </mat-card-actions>
            </div>
        </mat-card>
    </div>

</mat-card>