<div class="row" style="height: 100px;background-color: #014254">
    <h1 style="color: snow;font-size: 20px;margin-top: 35px;margin-left: 25px; ">บทความโฆษณา</h1>
</div>

<div class="search-hero">
    <input class="form-control" placeholder="ค้นหารายการ" name="search" [(ngModel)]="searchText">
</div>

<mat-card style="width: 1100px; margin-left: auto; margin-right: auto; top: 10px; background-color: #BBD9EE">
    <mat-toolbar style="background-color: #4579a0;color: snow">รายการโฆษณา</mat-toolbar>


    <div class="row">
        <mat-card class="product-card" *ngFor="let a of articles | filter:searchText"
            [routerLink]="[link ,a.article_id]">
            <div class="routerLink">
                <div class="image">
                    <img style="cursor: pointer; width: 318px;height: auto;" mat-card-image
                        src="data:image/jpeg;base64,{{a.art_pic1}}" />
                </div>
                <div class="detail">
                    <mat-card-content>
                        <p class="head">
                            {{a.articl_head}}
                        </p>
                    </mat-card-content>

                    <mat-chip-list>
                        <mat-chip *ngIf="a.art_type == 'รีวิวอสังหาริมทรัพย์'" style="background-color: #73B66B">
                            รีวิวอสังหาริมทรัพย์</mat-chip>
                        <mat-chip *ngIf="a.art_type == 'โฆษณา'" style="background-color: #FFCB18">โฆษณา</mat-chip>
                        <mat-chip *ngIf="a.art_type == 'ข่าวสาร'" style="background-color: rgb(228, 90, 27)">ข่าวสาร
                        </mat-chip>

                    </mat-chip-list>

                    <mat-card-subtitle>
                        <div class="row">
                            <div class="col-md">
                                <p> <i class="material-icons">
                                        schedule
                                    </i> {{a.art_date}}</p>

                            </div>
                            <div class="col-md">
                                <p><i class="material-icons">
                                        remove_red_eye
                                    </i> เข้าชม
                                    {{a.art_view}} ครั้ง</p>
                            </div>
                        </div>
                    </mat-card-subtitle>
                </div>
            </div>
        </mat-card>
    </div>
</mat-card>