.mat-radio-button ~ .mat-radio-button {
  margin-left: 20px;
}

.mat-form-field {
  color: #1d6a96;
}

.group {
  width: 500px;
  margin-top: 5px;
}

.check-list {
  margin-top: 5px;
}

.button {
  height: 50px;
  background: linear-gradient(120deg, #00743f 40%, #f2a104 60%, #1d65a6 80%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  float: right;
  color: snow;
}

.steper {
  margin-top: 20px;
}

.bt-next {
  background-color: #1d6a96;
  color: snow;
  float: right;
  margin-right: 30px;
  margin-top: 20px;
}

.bt-Previous {
  background-color: #f2a104;
  color: snow;
  float: right;
  margin-right: 40px;
  margin-top: 20px;
}

.bt-submit {
  background-color: #00743f;
  color: snow;
  float: right;
  margin-right: 30px;
  margin-top: 20px;
}

.bt-draft {
  background-color: #e3412f;
  color: snow;
  float: right;
  margin-right: 30px;
  margin-top: 20px;
}

.full-width {
  width: 100%;
}

agm-map {
  height: 550px;
}

.count {
  color: snow;
  float: right;
  margin-right: 40px;
  margin-top: 55px;
}
