<p>l-town works!</p>
<!-- todo FromLocat -->
<mat-card style="width: 98%; margin-left: auto; margin-right: auto; top: 10px; background-color: #BBD9EE">
    <mat-toolbar style="background-color: #4579a0;color: snow">รายการเช่าทาวน์เฮ้าส์</mat-toolbar>
    <div class="row">
        <mat-card class="product-card"
            *ngFor="let r of town | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize"
            [routerLink]="[link ,r.pro_id]">

            <div class="data sell-box">
                <div class="sell-corner sell-HD" *ngIf="r.pro_sell == 'ขาย'">{{r.pro_sell}}</div>
                <div class="sell-corner sell-SUB" *ngIf="r.pro_sell == 'เช่า'">{{r.pro_sell}}</div>
                <img class="image-size" style="cursor: pointer;" mat-card-image
                    src="data:image/jpg;base64,{{r.image1}}" />

            </div>
            <div class="listing-cost">฿ {{r.price | number : '1.2-2'}} บาท</div>
            <div class="detail">
                <mat-card-content>
                    <p class="head">
                        {{r.pro_head}}
                    </p>
                </mat-card-content>
                <!-- <mat-divider></mat-divider> -->
                <mat-card-subtitle class="date-post">
                    <div class="row">
                        <div class="col-md">
                            <i class="fa fa-pencil-square-o fa-lg"> {{r.pro_post}}</i>

                        </div>
                        <div class="col-md" style=" text-align: right;">
                            <i class="fa fa-eye fa-lg"> {{r.pro_views}}</i>

                        </div>
                    </div>
                </mat-card-subtitle>

                <div class="type">
                    <i class="material-icons" style="color: #7a96a2;">
                        style
                    </i> <span style="opacity: 0.85;  font-size: 14px;"> {{r.type_name}}</span>
                </div>

                <div class="loca">

                    <i class="material-icons" style="color: #abbf4e;">place</i>
                    <span style="opacity: 0.85;">{{r.loc_name}} {{r.provin_name}} </span>

                </div>
                <hr style="margin-top: 4px; margin-bottom: 2px;">
                <div class="row">
                    <div class="col-7">
                        <p class="p_icon1"><i class="fa fa-object-group" aria-hidden="true"></i>&nbsp;
                            {{r.pro_area | number : '1.2-2'}} ตร.ม.</p>
                        <p class="p_icon1"><i class="fa fa-bed" aria-hidden="true"></i>&nbsp; {{r.pro_bedroom}}
                            ห้องนอน</p>
                    </div>
                    <div class="col-5">
                        <p class="p_icon2"><i class="fa fa-bath" aria-hidden="true"></i>&nbsp; {{r.pro_toilet}}
                            ห้องน้ำ</p>
                        <p class="p_icon2"><i class="fa fa-building-o" aria-hidden="true"></i>&nbsp; {{r.pro_floor}}
                            ชั้น</p>
                    </div>
                </div>

            </div>
        </mat-card>

    </div>
    <ngb-pagination *ngIf="town.length != 0" [(page)]="page" [pageSize]="pageSize" [collectionSize]="town.length"
        [maxSize]="5" [rotate]="true" [ellipses]="false"></ngb-pagination>
</mat-card>