table {
  width: 100%;
}

.mat-elevation-z8 {
  width: 80%;
}

.full-width {
  width: 100%;
}

.submit {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #1d6a96;
  color: snow;
  margin-bottom: 20px;
}
