.example-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 70%;
}

.example-container > * {
  width: 70%;
}

button {
  margin-left: 10px;
}

.form{
  color: #126f80;
}