<div class="row" style="height: 100px;background-color: #014254;">
    <h1 style="color: snow;font-size: 20px;margin-top: 35px;margin-left: 25px; "> เขียนบทความโฆษณา</h1>
</div>

<button mat-raised-button (click)="onPostArt()">post</button>

<form [formGroup]="AdsFormGroup" class="form">
    <mat-form-field class="example-container">
        <mat-select placeholder="เลือกประเภทบทความโฆษณา" [(ngModel)]="art_type" formControlName="art_type">
            <mat-option value="รีวิวอสังหาริมทรัพย์">รีวิวอสังหาริมทรัพย์</mat-option>
            <mat-option value="โฆษณา">โฆษณา</mat-option>
            <mat-option value="ข่าวสาร">ข่าวสาร</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="example-container">
        <input matInput placeholder="หัวข้อบทความโฆษณา" [(ngModel)]="articl_head" formControlName="articl_head">
    </mat-form-field>

    <div class="">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md">
                <button mat-raised-button (click)="fileInput.click()"><i class="fa fa-picture-o" aria-hidden="true"></i>
                    Select File</button>
                <input style="display: none" #attachments type="file" accept=" image/* "
                    (change)="onFileChanged($event)" #fileInput multiple="true">
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <mat-card *ngFor='let url of urls; let index = index' style="background-color: #E8D0A9;">
                <i class="material-icons" style="float: right; cursor: pointer;"
                    (click)="removeSelectedFile(index)">cancel</i> <br>

                <img [src]="url" style="height: 170px; width: 289px;">
            </mat-card>
        </div>
    </div>
    <mat-form-field class="example-container">
        <textarea matInput placeholder="รายละเอียดที่ 1" ref-textarea [(ngModel)]="art_detail1" formControlName="Art_detail1"
            rows="8"></textarea>
    </mat-form-field>
    <mat-form-field class="example-container">
        <textarea matInput placeholder="รายละเอียดที่ 2" ref-textarea [(ngModel)]="art_detail2" formControlName="Art_detail2"
            rows="8"></textarea>
    </mat-form-field>

</form>

<!-- <div style="width: auto;">
    <pre>{{log}}</pre>
</div> -->

<!-- <pre>{{log}}</pre>

<button mat-raised-button color="primary" (click)="logText(art_detail1.value)">Show</button>
<button mat-raised-button color="accent" (click)="art_detail1=''">clear</button>
<button mat-raised-button color="warn" (click)="log=''">Clean</button> -->