.memu-left {
  width: 100%;
  color: snow;
}

.upgrade {
  width: 100%;
  color: snow;
  background-color: #f78e1e;
}
.example-spacer {
  flex: 1 1 auto;
}

.text {
  font-size: 30px;
  text-transform: uppercase;
  background: linear-gradient(120deg, #456990 10%, #e5446d 50%, #ffe66d 80%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.circle {
  /* ชื่อคลาสต้องตรงกับ <img class="circle"... */
  height: 110px; /* ความสูงปรับให้เป็นออโต้ */
  width: 110px;
  border: 3px solid #fff; /* เส้นขอบขนาด 3px solid: เส้น #fff:โค้ดสีขาว */
  border-radius: 50%; /* ปรับเป็น 50% คือความโค้งของเส้นขอบ*/
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* เงาของรูป */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tool {
  width: 260px;
  margin-left: 5px;
}