<mat-toolbar>

    <mat-toolbar-row class="shadow" style="background: #000e2b ; height: 120px; text-align: center;color: snow">
        <img src="../../assets/pic/mainpage/icon-business.png" style="height: 64px;width: auto;">
        <h1 class="text" style=" color: snow;font-size: 30px; margin-left: 20px"><b>ระบบการจัดการอสังหาริมทรัพย์</b>
        </h1>

        <span class="example-spacer"></span>
        <div style="margin-top: 50px;">
            <button mat-stroked-button (click)="onLogout()"
                style="background: #5c8b8d ; margin-left: 5px;">ออกจากระบบ</button>
        </div>

    </mat-toolbar-row>

    <mat-toolbar-row class="shadow" style="background: #013b63 ; text-align: center;color: snow">

        <button mat-button class="tool" [routerLink]="['/seller/seller/home']"
            routerLinkActive="active-head">หน้าหลัก</button>


        <button mat-button class="tool" [matMenuTriggerFor]="belowMenu1">ประเภทอสังหาริมทรัพย์</button>
        <mat-menu #belowMenu1="matMenu">
            <button mat-menu-item style="width: 400px">บ้านเดี่ยว</button>
            <button mat-menu-item>ทาวน์เฮ้าส์</button>
            <button mat-menu-item>อพาร์ทเมนท์</button>
            <button mat-menu-item>อาคารพาณิชย์</button>
            <button mat-menu-item>คอนโดมิเนียม</button>
            <button mat-menu-item>ที่ดิน</button>
        </mat-menu>



        <button mat-button class="tool" [matMenuTriggerFor]="belowMenu2">ค้นหาอสังหาริมทรัพย์</button>
        <mat-menu #belowMenu2="matMenu">
            <button mat-menu-item style="width: 400px" [routerLink]="['/seller/seller/area']"
            routerLinkActive="active-head">ค้นหาจากขนาดพื้นที่</button>
            <button mat-menu-item [routerLink]="['/seller/seller/price']"
                routerLinkActive="active-head">ค้นหาจากราคาพื้นที่</button>
            <button mat-menu-item [routerLink]="['/seller/seller/map']"
                routerLinkActive="active-head">ค้นหาจากแผนที่</button>
            <button mat-menu-item [routerLink]="['/seller/seller/location']"
                routerLinkActive="active-head">ค้นหาจากเขตที่ตั้ง</button>
        </mat-menu>



        <button mat-button class="tool" [routerLink]="['/seller/seller/article']"
            routerLinkActive="active-head">โฆษณา</button>

        <button mat-button class="tool-post" [routerLink]="['/seller/seller/selling']"
            routerLinkActive="active-selling"><i class="material-icons">
                add_location
            </i>ประกาศขายอสังหาริมทรัพย์</button>


    </mat-toolbar-row>
</mat-toolbar>



<div class="row" style="height: 100%;">
    <div class="col-md-2" style="background-color: #3a5a69 ; padding-right: 0px; ">

        <div class="pic">
            <img *ngIf="pic64 == ''" src="../../assets/pic/sall/sall-avtar.png"
                style="height: 100px;width: auto;  display: block; margin-left: auto; margin-right: auto; ">
            <img *ngIf="pic64 != null" src="data:image/jpg;base64,{{pic64}}" class="circle" />
            <div class="user">
                <h5>ผู้ประกาศขาย</h5>
            </div>
            <div>
                <p class="name">{{user[0].fname}} &nbsp; {{user[0].lname}}</p>
            </div>

        </div>

        <mat-list>
            <mat-list-item class="menu" [routerLink]="['/seller/seller/selle-property']" routerLinkActive="active">
                <i class="material-icons">
                    cloud_upload
                </i> &nbsp;
                รายการประกาศ</mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item class="menu" [routerLink]="['/seller/seller/draft']" routerLinkActive="active">
                <i class="material-icons">
                    insert_drive_file
                </i> &nbsp; รายการที่ร่าง</mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item class="menu" [routerLink]="['/seller/seller/edit']" routerLinkActive="active">
                <i class="material-icons">
                    edit
                </i> &nbsp; รายการที่รอแก้ไข</mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item class="menu" [routerLink]="['/seller/seller/CloseProperty']" routerLinkActive="active">
                <i class="material-icons">
                    cloud_off
                </i> &nbsp;
                รายการที่ปิดประกาศ</mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item class="menu" [routerLink]="['/seller/seller/approval']" routerLinkActive="active">
                <i class="material-icons">
                    watch_later
                </i> &nbsp;
                รายการรออนุมัติ</mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item class="menu" [routerLink]="['/seller/seller/profile']" routerLinkActive="active">
                <i class="material-icons">
                    person
                </i> &nbsp;
                ข้อมูลส่วยตัว</mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item class="menu" [routerLink]="['/seller/seller/chat']" routerLinkActive="active">
                <i class="material-icons">
                    chat
                </i> &nbsp;
                ติดต่อสนทนา
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item class="menu" [routerLink]="['/seller/seller/suggestion']" routerLinkActive="active">
                <i class="material-icons">
                    layers
                </i> &nbsp;
                ส่งรายการแนะนำ
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item class="menu" [routerLink]="['/seller/seller/test']" routerLinkActive="active">
                <i class="fa fa-cogs" aria-hidden="true"></i> ไว้ทดสอบ</mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item class="menu" [routerLink]="['/seller/seller/testPost']" routerLinkActive="active"><i
                    class="fa fa-cogs" aria-hidden="true"></i> <a>ประกาศขาย</a>
            </mat-list-item>
            <mat-divider></mat-divider>


        </mat-list>

    </div>
    <!-- ss -->
    <div class="col-md-10">
        <router-outlet></router-outlet>
    </div>
</div>