.approve {
  background-color: #6DD920;
  color: white;
  margin-top: 50px;
  margin-right: 10px;
}

.notapprove {
  background-color: #F68225;
  color: white;
  margin-top: 50px;
  margin-right: 10px;
}

mat-chip {
  width: 180px;
}

.card {
  width: 90%;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: #bbd9ee;
}

.tag-sell {
  white-space: nowrap;
  background-color: #aec33a;
  width: 130px;
  color: snow;
}
.tag-sell2 {
  white-space: nowrap;
  background-color: #f78e1e;
  color: #ffffff;
}
.price {
  float: right;
  color: #f25c62 !important;
}

.bt-map {
  color: snow;
  background-color: #5fad46;
  float: right;
}

.image {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
}

agm-map {
  height: 500px;
  width: 100%;
}

.public {
  color: snow;
  background-color: #aec33a;
  margin-left: 15px;
}
.proclose {
  color: snow;
  background-color: #d92139;
  margin-left: 15px;
}
.edit {
  color: snow;
  background-color: #fec748;
  margin-left: 15px;
}
.draft {
  color: snow;
  background-color: #928a99;
  margin-left: 15px;
}

.edit-pro {
  height: 45px;
  color: snow;
  background-color: #877d7c;
}

.mainImage {
  width: 804.406px;
  height: 535.922px;
  margin-left: auto;
  margin-right: auto;
}

.profile_pic {
  width: 150px;
  background-size: cover;
  width: 100px;
  height: 100px;
}
table {
  width: 100%;
}

.image2 {
  height: 40px;
  width: auto;
  float: right;
}
th {
  width: 124px;
}
.text {
  padding-top: 25px;
}
