mat-chip {
  width: 180px;
}

.mat-card {
  width: 90%;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  top: 10px;
  background-color: #bbd9ee;
}

.tag-sell {
  white-space: nowrap;
  background-color: #aec33a;
  width: 130px;
  color: snow;
}

.price {
  float: right;
  color: #f25c62 !important;
}

.bt-map {
  color: snow;
  background-color: #5fad46;
  float: right;
}

.image {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
}

agm-map {
  height: 500px;
  width: 100%;
}

.public {
  color: snow;
  background-color: #aec33a;
  margin-left: 15px;
}
.proclose {
  color: snow;
  background-color: #d92139;
  margin-left: 15px;
}
.edit {
  color: snow;
  background-color: #fec748;
  margin-left: 15px;
}
.draft {
  color: snow;
  background-color: #928a99;
  margin-left: 15px;
}

.edit-pro {
  height: 45px;
  color: snow;
  background-color: #877d7c;
}
