<mat-card style="margin-top: 20px; background-color:  #C1DAD6 ;">
    <!-- single -->
    <div style="text-align: center">
        <form>
            <div class="">
                <h2 style="text-align: center">single</h2>
            </div>
            <div>
                <input type='file' (change)="onSelectFile($event)">
            </div>
            <div class="" style="margin-top: 10px; margin-bottom: 10px;">
                <img [src]="url" height="200" *ngIf="url"><button mat-icon-button
                    (click)="removeFilesingle()">delete</button>
            </div>
            <div>
                <button type="submit" (click)="onSubmit()">Upload</button>
            </div>
        </form>
    </div>

</mat-card>




<mat-card style="margin-top: 20px; background-color:  #C1DAD6 ;">
    <!-- หลายรูป -->
    <div style="text-align: center">
        <form>
            <h2 style="text-align: center">Multiple</h2>
            <div>
                <button type="submit" (click)="onMultipleSubmit()">Multiple Upload</button>
            </div>
            <table class="table table-bordered" style="width: 50%;">
                <thead>
                    <tr>
                        <th scope="col" style="width: 50%;">รูป</th>
                        <th scope="col" style="width: 10%;">ลบ</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr *ngFor="let selected of listOfFiles;let index = index"> -->
                    <tr *ngFor='let url of urls; let index = index'>
                        <td>
                            <img [src]="url" height="150">
                        </td>
                        <td>
                            <button mat-icon-button (click)="removeSelectedFile(index)">delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button mat-raised-button (click)="fileInput.click()">Select File</button>
            <input style="display: none" #attachments type="file" (change)="onFileChanged($event)" #fileInput
                multiple="true">
        </form>
    </div>
</mat-card>

<mat-card style="margin-top: 20px; background-color:  #C1DAD6 ;">
    <div class="">
        <h2 style="text-align: center">แสดงรูปโปรไฟล์</h2>
        <img src="data:image/jpg;base64,{{pic64}}" style="height:180;width:180px" />
    </div>
</mat-card>