<div class="row">
    <div class="col-md-5">
        <mat-card style="margin-top: 10px;" *ngFor="let item of member; let i = index">
            <mat-checkbox [(ngModel)]="item.Checked" (ngModelChange)="getCheckbox(item.email_id)">Check me!</mat-checkbox>


            <div class="row">
                <div class="col-md">
                    <img src="data:image/jpg;base64,{{item.profile_pic}}" alt="sunil"
                        style="width: 100px;height: auto;" />

                </div>
                <div class="col-md">
                    <p>{{item.email_id}}</p>
                    <p>{{item.fname}} {{item.lname}}</p>
                    <p *ngIf="item.cus_status == 'seller'">ผู้ขาย</p>
                    <p *ngIf="item.cus_status == 'buyer'">ผู้ซื้อ</p>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="col-md-7">
        <form class="example-form" [formGroup]="chatFormGroup">
            <mat-form-field class="example-full-width">
                <mat-label>Favorite food</mat-label>
                <input matInput [(ngModel)]="taxtChat" formControlName="taxtChat" placeholder="Ex. Pizza">
            </mat-form-field>

            <button mat-raised-button>ส่งข้อความ</button>
        </form>
    </div>
</div>




<!-- <div *ngFor="let item of member; let i = index">
    <input type="checkbox" [id]="item+i" [name]="item" [(ngModel)]="item.Checked"
        (change)="getCheckboxValues(item.email_id)">
    <label [for]="item+i"> {{item.email_id}} </label>
</div> -->