<mat-card class="card">

    <form [formGroup]="edit_detail">
        <div class="row">
            <div class="col-md-8">
                <mat-card-header style="margin-top: 20px">

                    <img mat-card-avatar class="profile_pic" src="data:image/jpg;base64,{{profile_pic}}" alt="sunil" />

                    <mat-card-title> {{fname}} {{lname}}</mat-card-title>
                    <mat-card-subtitle> {{email_id}} </mat-card-subtitle>
                    <mat-card-subtitle><button mat-raised-button (click)="addChat()"
                            style="background-color: #859f3c; color: snow; ">ติดต่อสอบถาม</button></mat-card-subtitle>
                </mat-card-header>
            </div>

        </div>


        <table class="table table-borderless">
            <tbody>
                <tr>
                    <th scope="row"><img src="../../../../assets/pic/admin/line-icon.png" class="image"></th>
                    <td class="text">{{id_line}}</td>
                </tr>
                <tr>
                    <th scope="row"><img src="../../../../assets/pic/admin/facebook.png" class="image"></th>
                    <td class="text">{{facebook}}</td>
                </tr>
                <tr>
                    <th scope="row"><img src="../../../../assets/pic/admin/gmail.png" class="image"></th>
                    <td class="text"> {{email_id}}</td>
                </tr>
                <tr>
                    <th scope="row"><img src="../../../../assets/pic/admin/phone.ico" class="image"></th>
                    <td class="text"> {{phone}}</td>
                </tr>
                <tr>
                    <th scope="row" class="image">รายละเอียด</th>
                    <td>{{cus_detail}}</td>
                </tr>
            </tbody>
        </table>





    </form>
</mat-card>



<!-- !alert -->
<ng-template #success let-modal>
    <div class="alert alert-success" role="alert" style="margin-bottom: 0px;">
        ประกาศอสังหาริมทรัพย์ " สำเร็จ "
    </div>
</ng-template>