table {
  width: 100%;
}

.mat-elevation-z8 {
  width: 100%;
}

.card {
  width: 832px;
  margin-top: 30px;
}

.full-width {
  width: 100%;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
  width: 100px;
  height: 100px;
}

.text {
  padding-top: 25px;
}

.image {
  height: 50px;
  width: auto;
  float: right;
}

th {
  width: 124px;
}

.profile_pic {
  width: 150px;
  background-size: cover;
  width: 100px;
  height: 100px;
}
