.product-card {
  width: 318px;
  height: 335px;
  position: relative;
  margin-bottom: 8px;
  margin-left: 18px;
  margin-top: 10px;
  background-color: #ebf4fa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.p_icon1 {
  margin-bottom: 5px;
  margin-left: 11px;
}

.p_icon2 {
  margin-bottom: 5px;
}

.price {
  margin-top: 5px;
  margin-bottom: 0px;
  color: #ee3233;
}

i {
  color: #4579a0;
}

.head {
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  width: 100%;
  white-space: nowrap;
}


// 
.container {
  padding-top: 50px;
  padding-bottom: 10px;
  color: #405065;
}

.search-hero {
  max-width: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin:auto;
}

.form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
}
.form-control::placeholder  {
  font-family: FontAwesome;
}