.mat-radio-button ~ .mat-radio-button {
  margin-left: 20px;
}

.count {
  color: snow;
  float: right;
  margin-right: 40px;
  margin-top: 55px;
}

.card {
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  top: 10px;
  background-color: #bbd9ee;
}
.mat-form-field {
  color: #1d6a96;
}

.group {
  width: 500px;
  margin-top: 5px;
}

.check-list {
  margin-top: 5px;
}

.button {
  height: 50px;
  background: linear-gradient(120deg, #00743f 40%, #f2a104 60%, #1d65a6 80%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  float: right;
  color: snow;
}

.steper {
  margin-top: 20px;
}

.bt-next {
  background-color: #1d6a96;
  color: snow;
  float: right;
  margin-right: 30px;
  margin-top: 20px;
}

.bt-Previous {
  background-color: #f2a104;
  color: snow;
  float: right;
  margin-right: 40px;
  margin-top: 20px;
}

.bt-submit {
  background-color: #00743f;
  color: snow;
  float: right;
  margin-right: 30px;
  margin-top: 20px;
}

.bt-draft {
  background-color: #e3412f;
  color: snow;
  float: right;
  margin-right: 30px;
  margin-top: 20px;
}

.full-width {
  width: 100%;
  color: #1d6a96;
}

agm-map {
  height: 550px;
}

.your-loc {
  background-color: #1d6a96;
  color: snow;
  margin-top: 40px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate,
.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate {
  background-color: #45bb89 !important; /* Red background for example */
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: #1d6a96;
}

::ng-deep.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #859f3c !important;
  color: snow !important;
}

::ng-deep .ng-template .matStepLabel {
  color: #1d6a96 !important;
}

.guide_price {
  width: 332px;
  height: 157px;
  background-color: #fcd3d1;
  box-shadow: 0 0 8px 0px black;
}
