<div class="row" style="height: 100px;background-color: #014254">
    <div class="col-md">
        <h1 style="color: snow;font-size: 20px;margin-top: 35px;margin-left: 25px; "> ประกาศขาย - เช่า</h1>
    </div>
    <div class="col-md">
        <p class="count">จำนวนอสังหาริมทรัพย์ {{count_pro}} รายการ</p>
    </div>
</div>





<mat-card class="card">

    <!-- ! step 1 -->
    <mat-horizontal-stepper [linear]="!isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup" class="steper">
            <ng-template matStepLabel>ประเภทอสังหาริมทรัพย์</ng-template>
            <form [formGroup]="firstFormGroup">
                <div class="row">
                    <div class="col-md-4">
                        <div class="label">
                            <mat-label>ประเภทอสังหาริมทรัพย์</mat-label>
                        </div>
                        <div class="option">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-select [(ngModel)]="Type_pro" formControlName="Type_pro"
                                    placeholder="เลือกอสังหาริมทรัพย์">
                                    <mat-option [value]="type.type_id" *ngFor="let type of types" required>
                                        {{type.type_name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="label">
                            <mat-label>ประเภทการขาย</mat-label>
                        </div>
                        <div class="option">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-select [(ngModel)]="Type_sell" formControlName="Type_sell"
                                    placeholder="เลือกประเภทการขาย" required>
                                    <mat-option value="ขาย">ขาย</mat-option>
                                    <mat-option value="เช่า">เช่า</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button mat-raised-button (click)="openModalLocation(Location)" class="button"><i
                                class="material-icons">near_me</i> ที่ตั้งบนแผนที่</button>
                    </div>
                </div>

                <div class="row" style=" margin-top: 15px;">
                    <div class="col-md-4">
                        <div class="label">
                            <mat-label>ภูมิภาค</mat-label>
                        </div>
                        <div class="option">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-select [(ngModel)]="zone_id" formControlName="Zone" placeholder="เลือกภูมิภาค"
                                    (ngModelChange)="onProvince($event)" required>
                                    <mat-option [value]="z.zone_id" *ngFor="let z of zones">
                                        {{z.zone_name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="label">
                            <mat-label>จังหวัด</mat-label>
                        </div>
                        <div class="option">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-select [(ngModel)]="province_id" formControlName="Province_id"
                                    placeholder="เลือกจังหวัด" (ngModelChange)="onLocation($event)" required>
                                    <mat-option [value]="p.province_id" *ngFor="let p of provins">{{p.provin_name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row" style=" margin-top: 15px;">
                    <div class="col-md-4">
                        <div class="label">
                            <mat-label>เขต/อำเภอ</mat-label>
                        </div>
                        <div class="option">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-select [(ngModel)]="location_id" formControlName="Location_id"
                                    placeholder="เลือกจังหวัด" required>
                                    <mat-option [value]="dis.location_id" *ngFor="let dis of district">{{dis.loc_name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                </div>

                <!-- <div class="row" style="margin-left: 50px; margin-top: 15px;">
                    <div class="col-md-3">
                        <input class="form-check-input" type="radio" name="Type_user" id="owner" style="width: 20px;
              height: 20px; margin-top: 0px;" formControlName="Type_user" [value]="1">
                        <label class="form-check-label" style="margin-left: 10px"
                            for="owner">เจ้าของอสังหาริมทรัพย์</label>
                    </div>
                    <div class="col-md-3">
                        <input class="form-check-input" type="radio" name="Type_user" id="agent" style="width: 20px;
              height: 20px; margin-top: 0px;" formControlName="Type_user" [value]="2">
                        <label class="form-check-label" style="margin-left: 10px" for="agent">ตัวแทนจำหน่าย</label>
                    </div>
                </div> -->
                <div>
                    <button mat-raised-button matStepperNext class="bt-next">ต่อไป</button>
                </div>
            </form>
        </mat-step>

        <!-- ! step 2 -->
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>หัวข้ออสังหาริมทรัพย์</ng-template>

                <div class="row" style="margin-top: 8px;">
                    <div class="col-md">
                        <div class="label">
                            <mat-label>หัวข้ออสังหาริมทรัพย์</mat-label>
                        </div>
                        <div class="option">
                            <mat-form-field appearance="outline" class="full-width">
                                <input matInput [(ngModel)]="Pro_head" formControlName="Pro_head"
                                    placeholder="กรอกหัวข้ออสังหาริมทรัพย์..." required>
                            </mat-form-field>
                        </div>

                    </div>
                </div>

                <div class="row" style="margin-top: 8px;">
                    <div class="col-md">
                        <div class="label">
                            <mat-label>รายละเอียดอสังหาริมทรัพย์</mat-label>
                        </div>
                        <div class="option">
                            <mat-form-field appearance="outline" class="full-width">
                                <textarea matInput [(ngModel)]="Pro_detail" formControlName="Pro_detail" rows="18"
                                    placeholder="กรอกรายละเอียดอสังหาริมทรัพย์..." required></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div>

                    <button mat-button matStepperNext class="bt-next">ต่อไป</button>
                    <button mat-button matStepperPrevious class="bt-Previous">ย้อนกลับ</button>

                </div>
            </form>
        </mat-step>


        <!-- ! step 3 -->
        <mat-step [stepControl]="thirdFormGroup">
            <form [formGroup]="thirdFormGroup">
                <ng-template matStepLabel>รูปภาพ</ng-template>
                <div style="text-align: center">
                    <form>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md">
                                <button mat-raised-button (click)="fileInput.click()">Select File</button>
                                <input style="display: none" #attachments type="file" accept=" image/* "
                                    (change)="onFileChanged($event)" #fileInput multiple="true">
                            </div>
                            <!-- <div class="col-md">
                                <button mat-raised-button type="submit" (click)="onMultipleSubmit()"
                                    style="background-color: #1d6a96;color: snow">Upload</button>
                            </div> -->
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <mat-card *ngFor='let url of urls; let index = index' style="background-color: #E8D0A9;">
                                <i class="material-icons" style="float: right; cursor: pointer;"
                                    (click)="removeSelectedFile(index)">cancel</i> <br>

                                <img [src]="url" style="height: 170px; width: 289px;">
                            </mat-card>
                        </div>


                    </form>
                </div>
                <div>
                    <button mat-button matStepperNext class="bt-next">ต่อไป</button>
                    <button mat-button matStepperPrevious class="bt-Previous">ย้อนกลับ</button>

                </div>
            </form>
        </mat-step>

        <!-- ! step 4 -->
        <mat-step [stepControl]="fourthFormGroup">
            <form [formGroup]="fourthFormGroup">
                <ng-template matStepLabel>รายละเอียดอสังหาริมทรัพย์</ng-template>

                <div class="row" style="margin-top: 8px;">
                    <div class="col-md-4" style="padding-right: 0px;">
                        <div class="label">
                            <mat-label>ขนาดพื้นที่</mat-label>
                        </div>
                        <div class="option">
                            <mat-form-field appearance="outline" class="full-width">
                                <input matInput type="number" [(ngModel)]="Area" formControlName="Area"
                                    placeholder="ตารางเมตร..." required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-2" style="margin-top: 40px; padding-left: 5px">ตารางเมตร</div>

                    <div class="col-md-4" style="padding-right: 0px;">
                        <div class="label">
                            <mat-label>พื้นที่ใช้สอย</mat-label>
                        </div>
                        <div class="option">
                            <mat-form-field appearance="outline" class="full-width">
                                <input matInput type="number" [(ngModel)]="Space" formControlName="Space"
                                    placeholder="ตารางเมตร...">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-2" style="margin-top: 40px; padding-left: 5px">ตารางเมตร</div>
                </div>



                <div class="row" style="margin-top: 8px;">
                    <div class="col-md-5" style="padding-right: 0px;">
                        <div class="label">
                            <mat-label>ราคาของอสังหาริมทรัพย์</mat-label>
                        </div>
                        <div class="option">
                            <mat-form-field appearance="outline" class="full-width">
                                <input matInput type="number" [(ngModel)]="Price" formControlName="Price"
                                    placeholder="บาท" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-2" style="margin-top: 40px; padding-left: 5px">บาท</div>
                </div>

                <div class="row" style="margin-top: 8px;">
                    <div class="col-md">
                        <div class="label">
                            <mat-label>ห้องนอน</mat-label>
                        </div>
                        <div class="option">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-select [(ngModel)]="Badroom" formControlName="Badroom"
                                    placeholder="เลือกกี่ห้องนอน">
                                    <mat-option [value]="1"> 1 ห้องนอน</mat-option>
                                    <mat-option [value]="2"> 2 ห้องนอน</mat-option>
                                    <mat-option [value]="3"> 3 ห้องนอน</mat-option>
                                    <mat-option [value]="4"> 4 ห้องนอน</mat-option>
                                    <mat-option [value]="5"> 5 ห้องนอน</mat-option>
                                    <mat-option [value]="6"> 6 ห้องนอน</mat-option>
                                    <mat-option [value]="7"> 7 ห้องนอน</mat-option>
                                    <mat-option [value]="8"> 8 ห้องนอน</mat-option>
                                    <mat-option [value]="9"> 9 ห้องนอน</mat-option>
                                    <mat-option [value]="10"> 10 ห้องนอน</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="label">
                            <mat-label>ห้องน้ำ</mat-label>
                        </div>
                        <div class="option">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-select [(ngModel)]="Toilet" formControlName="Toilet" placeholder="เลือกกี่ห้องน้ำ">
                                    <mat-option [value]="1"> 1 ห้องน้ำ</mat-option>
                                    <mat-option [value]="2"> 2 ห้องน้ำ</mat-option>
                                    <mat-option [value]="3"> 3 ห้องน้ำ</mat-option>
                                    <mat-option [value]="4"> 4 ห้องน้ำ</mat-option>
                                    <mat-option [value]="5"> 5 ห้องน้ำ</mat-option>
                                    <mat-option [value]="6"> 6 ห้องน้ำ</mat-option>
                                    <mat-option [value]="7"> 7 ห้องน้ำ</mat-option>
                                    <mat-option [value]="8"> 8 ห้องน้ำ</mat-option>
                                    <mat-option [value]="9"> 9 ห้องน้ำ</mat-option>
                                    <mat-option [value]="10"> 10 ห้องน้ำ</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="label">
                            <mat-label>ชั้น</mat-label>
                        </div>
                        <div class="option">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-select [(ngModel)]="Floor" formControlName="Floor" placeholder="เลือกชั้น">
                                    <mat-option [value]="1"> 1 ชั้น</mat-option>
                                    <mat-option [value]="2"> 2 ชั้น</mat-option>
                                    <mat-option [value]="3"> 3 ชั้น</mat-option>
                                    <mat-option [value]="4"> 4 ชั้น</mat-option>
                                    <mat-option [value]="5"> 5 ชั้น</mat-option>
                                    <mat-option [value]="6"> 6 ชั้น</mat-option>
                                    <mat-option [value]="7"> 7 ชั้น</mat-option>
                                    <mat-option [value]="8"> 8 ชั้น</mat-option>
                                    <mat-option [value]="9"> 9 ชั้น</mat-option>
                                    <mat-option [value]="10"> 10 ชั้น</mat-option>
                                    <mat-option [value]="11"> 11 ชั้น</mat-option>
                                    <mat-option [value]="12"> 12 ชั้น</mat-option>
                                    <mat-option [value]="13"> 13 ชั้น</mat-option>
                                    <mat-option [value]="14"> 14 ชั้น</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 8px; margin-left: 40px;">
                    <div class="col-md-4">
                        <div class="check-list">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="Check1"
                                formControlName="Check1" id="Check1">
                            <label class="form-check-label" for="Check1">ที่จอดรถ</label>
                        </div>
                        <div class="check-list">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="Check2"
                                formControlName="Check2" id="Check2">
                            <label class="form-check-label" for="Check2">ลานจอดรถ</label>
                        </div>
                        <div class="check-list">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="Check3"
                                formControlName="Check3" id="Check3">
                            <label class="form-check-label" for="Check3">รักษาความปลอดภัย</label>
                        </div>
                        <div class="check-list">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="Check4"
                                formControlName="Check4" id="Check4">
                            <label class="form-check-label" for="Check4">สระว่ายน้า</label>
                        </div>
                        <div class="check-list">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="Check5"
                                formControlName="Check5" id="Check5">
                            <label class="form-check-label" for="Check5">กล้องวงจรปิด</label>
                        </div>
                        <div class="check-list">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="Check6"
                                formControlName="Check6" id="Check6">
                            <label class="form-check-label" for="Check6">ฟิตเนส</label>
                        </div>
                        <div class="check-list">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="Check7"
                                formControlName="Check7" id="Check7">
                            <label class="form-check-label" for="Check7">สนามเด็กเล่น</label>
                        </div>
                        <div class="check-list">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="Check8"
                                formControlName="Check8" id="Check8">
                            <label class="form-check-label" for="Check8">มินิมาร์ท</label>
                        </div>
                        <div class="check-list">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="Check9"
                                formControlName="Check9" id="Check9">
                            <label class="form-check-label" for="Check9">ซัก อบ รีด</label>
                        </div>
                        <div class="check-list">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="Check10"
                                formControlName="Check10" id="Check10">
                            <label class="form-check-label" for="Check10">ศาลาชมทิวทัศน์</label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="check-list">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="Check11"
                                formControlName="Check11" id="Check11">
                            <label class="form-check-label" for="Check11">ที่จอดรถ</label>
                        </div>
                        <div class="check-list">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="Check12"
                                formControlName="Check12" id="Check12">
                            <label class="form-check-label" for="Check12">ลานจอดรถ</label>
                        </div>
                        <div class="check-list">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="Check13"
                                formControlName="Check13" id="Check13">
                            <label class="form-check-label" for="Check13">รักษาความปลอดภัย</label>
                        </div>
                        <div class="check-list">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="Check14"
                                formControlName="Check14" id="Check14">
                            <label class="form-check-label" for="Check14">สระว่ายน้า</label>
                        </div>
                        <div class="check-list">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="Check15"
                                formControlName="Check15" id="Check15">
                            <label class="form-check-label" for="Check15">กล้องวงจรปิด</label>
                        </div>
                        <div class="check-list">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="Check16"
                                formControlName="Check16" id="Check16">
                            <label class="form-check-label" for="Check16">ฟิตเนส</label>
                        </div>
                        <div class="check-list">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="Check17"
                                formControlName="Check17" id="Check17">
                            <label class="form-check-label" for="Check17">สนามเด็กเล่น</label>
                        </div>
                        <div class="check-list">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="Check18"
                                formControlName="Check18" id="Check18">
                            <label class="form-check-label" for="Check18">มินิมาร์ท</label>
                        </div>
                        <div class="check-list">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="Check19"
                                formControlName="Check19" id="Check19">
                            <label class="form-check-label" for="Check19">ซัก อบ รีด</label>
                        </div>
                        <div class="check-list">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="Check20"
                                formControlName="Check20" id="Check20">
                            <label class="form-check-label" for="Check20">ศาลาชมทิวทัศน์</label>
                        </div>
                    </div>
                </div>
                <button mat-raised-button (click)="onSubmit()" class="bt-submit">ยืนยัน</button>
                <button mat-raised-button (click)="onPostDraft()" class="bt-draft">บันทึกเป็นฉบับร่าง</button>
                <button mat-button matStepperPrevious class="bt-Previous">ย้อนกลับ</button>
                <!-- <button mat-raised-button (click)="onClickCheck()">Check</button> -->

            </form>
        </mat-step>
    </mat-horizontal-stepper>

</mat-card>



<!--   Map  -->
<ng-template #Location let-modal>
    <form [formGroup]="MapFormGroup">
        <div class="modal-header">
            <h4 class="modal-title">ตำแหน่งอสังหาริมทรัพย์</h4>
            <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div class="label">
                    <mat-label>ละติจูด</mat-label>
                </div>
                <div class="option">
                    <mat-form-field appearance="outline" class="full-width">
                        <input matInput type="number" [(ngModel)]="latitude" formControlName="latitude">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-4">
                <div class="label">
                    <mat-label>ลองติจูด</mat-label>
                </div>
                <div class="option">
                    <mat-form-field appearance="outline" class="full-width">
                        <input matInput type="number" [(ngModel)]="longitude" formControlName="longitude">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-4">
                <button mat-raised-button (click)="onYourLoction()" class="your-loc">ตำแหน่งปัจจุบัน</button>
            </div>


        </div>

        <agm-map [latitude]="lat2" [longitude]="lng2" [zoom]="zoom" (mapClick)="placeMarker($event)">
            <agm-marker [latitude]="latitude" [longitude]="longitude">
            </agm-marker>
        </agm-map>

        <div class="modal-footer">
            <button mat-raised-button (click)="clearLocation()">clear</button>
            <button mat-raised-button (click)="closeModal()">ยกเลิก</button>
            <button mat-raised-button (click)="onSubmitMap()"
                style="background-color: #1d6a96;color: snow">ยืนยัน</button>
        </div>

    </form>
</ng-template>


<!-- alert -->
<ng-template #success let-modal>
    <div class="alert alert-success" role="alert" style="margin-bottom: 0px;">
        ประกาศอสังหาริมทรัพย์ " สำเร็จ "
    </div>
</ng-template>

<ng-template #draft let-modal>
    <div class="alert alert-warning" role="alert" style="margin-bottom: 0px;">
        บันทึกอสังหาริมทรัพย์ในฉบับร่าง " สำเร็จ "
    </div>
</ng-template>